@import "base.sass"

body
    font-size: 1.5em
    font-family: Monaco, "Helvetica Neue", Helvetica
    color: $font_color
    background: $background_color
    padding: 20px

h1
    font-size: 1.5em
    text-align: center

a
    +link_stan

a:visited
    +link_stan

a:hover
    color: $link_hover
    text-decoration: underline

h2
    text-align: center
    font-size: 0.9em
    padding-top: 20px

.clear
    clear: both

.messages
    font-size: 13px
    min-height: 1px
    width: 500px
    float: left
    overflow-y: scroll
    padding-right: 20px
.chat-area
    position: absolute
    bottom: 70px

.members
    font-size: 12px
    width: 200px
    float: left
    margin-left: 10px

.player
    border-left: 3px solid
    margin: 5px 0px
    padding-left: 3px
    .gray
        border-color: #888888

    .red
        border-color: #FF0000

    .blue
        border-color: #0000FF

    .green
        border-color: #00FF00

    .orange
        border-color: #D78A35

.message
    margin: 20px 0px 0px
    padding: 10px 10px 0px
    border: 1px solid gray
    border-radius: 5px

#user-data
    display: none

.member-img
    margin-right: 5px

.form-line
    label
        display: inline-block
        width: 130px
        margin: 10px 0px
    input
        font-size: 15px

#new-message-holder
    display: inline-block
    position: absolute
    bottom: 20px

#new-message
    font-size: 14px

.click-to-start
    display: inline-block
    color: #888
    font-size: 13px
    width: 500px
    padding: 10px 10px
    background-color: #EEE
.message-date
    color: #444
    font-size: 10px
    display: inline-block
    position: relative
    bottom: 8px
    left: 10px
.message-body
    padding: 5px 0px
