.chat-area
    .messages#messages
    .members#members
    .clear
#new-message-holder
    %textarea{:id => 'new-message', :rows => 3, :cols => 60}
#user-data><
    = "{\"username\":\"#{session[:user]['username']}\", \"gravatar_hash\":\"#{session[:user]['gravatar_hash']}\"}"
