%form{:action => '/signin', :method => 'post', :name => 'user'}
    %input{:name => 'user[username]', :type => 'textfield', :id => 'username'}
    %input{:name => 'user[password]', :type => 'password', :id => 'password'}
    %input{:type => 'submit', :id => 'submit'}
