- if session[:message]
    .session-message
        = session[:message]
%form{:action => '/signup', :method => 'post', :name => 'user'}
    %input{:name => 'user[username]', :type => 'textfield', :id => 'username'}
    %input{:name => 'user[email]', :type => 'textfield', :id => 'email'}
    %input{:name => 'user[password]', :type => 'password', :id => 'password'}
    %input{:type => 'submit', :id => 'submit'}

